*,
*::before,
*::after{
   box-sizing: border-box; 
}
html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --font-color: #c0c0c0;
    --section: url(https://i.pinimg.com/736x/e5/86/3d/e5863d9beaa2d7515a003e31286fc145.jpg);
    --background: radial-gradient(circle at center, #2B2D31 0%, #0E1014 100%);
}
body {
    background: var(--background);
    color: var(--font-color);
    background-position: center;
    font-family: Arial, Helvetica;
}
section {
    width: 90%;
    background: var(--section);
    background-position: center;
    margin: 0 auto;
    min-height: 200px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    scroll-margin-top: 70px;
}
h2,h1,p,h3 {
    text-align: center;
}
h2 {
    font-size: 2rem;
}
#home img {
    width: 70%;
    margin-left: 50px;
}
h1 {
   font-size: 3rem; 
   font-style: oblique;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana;
}
h2 {
    border-bottom: 2px solid var(--font-color);
}
a {
    text-decoration: none;
    color: var(--font-color);
}
#certificates a h3, #projects a p{
    display: block;
    background-color: rgba(75, 29, 29, 0.5);
    border-radius: 10px;
    padding: 10px 0;
}
.icons{
    display: flex;
    font-size: 50px;
    justify-content: space-between;
}
main {
    margin-top: 100px;
}
.mobile {
    position: fixed;
    height: 70px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(https://i.pinimg.com/736x/e5/86/3d/e5863d9beaa2d7515a003e31286fc145.jpg);
    background-position: center;
    width: 100%;
}
.img-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url(https://i.pinimg.com/1200x/91/6a/49/916a493ccdd199b3ee3393b71b7cf5d5.jpg);
    background-position: 50% 7%;
    background-size: 100%;
}
.mobile p{
   color: var(--font-color);
    background-color: rgba(75, 29, 29, 0.5);
    width: 80px;
    height: 30px;
    padding-top: 5px;
}
.laptop, .sidebar, #laptop_home, #laptop_project, #laptop_edu, #laptop_skills, #laptop_cert, #laptop_experience {
    display: none;
}


/*LAPTOP*/
@media (min-width: 768px){
    .mobile, #home, #about, #skills, #projects, #experience, #certificates, #contact{
        display: none;
    }
    #laptop_project, #laptop_edu, #laptop_skills, #laptop_cert, #laptop_experience {
        display: block;
    }
    #laptop_home {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #laptop_home img {
        height: 60%;
        border-radius: 50%;
        transition: transform 0.4s ease-in-out;
    }
    #laptop_home img:hover {
       transform: scale(1.1); 
    }
    #laptop_home h1 {
        width: 50%;
    }
    #laptop_project {
        height: 90vh;
        background-color:rgba(46, 46, 46, 0.363)
    }
    section {
        margin-top: 70px;
        margin-bottom: 60px;
        background-image: none;
    }
    .projects img, #laptop_skills img, #laptop_cert img, #laptop_experience img{
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 60%;
    }
    figure {
       width: 350px;
       height: 500px;
       transition: transform 0.4s ease-in-out;
    }
    figure:hover {
        transform: skew(5deg);
    }
    figcaption {
        padding-top: 20px;
        background-color: transparent;
        border-radius: 0 0 20px 20px;
        width: 100%;
        border: 1px solid gray;
        border-top: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    figcaption p{text-align: start;}

    #laptop_skills div, .projects,  #laptop_experience div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #laptop_cert {
        background-color: rgba(46, 46, 46, 0.363);
    }
    #laptop_cert div {
        display: grid;
        gap: 25px;
    }
    .laptop p:hover {
        color: white;
        border: 1px solid grey;
        transform: scale(1.1);
        box-shadow: 5px 5px 80px rgb(148, 146, 146);
        padding-bottom: 5px;
    }
    .laptop p{
        transition: transform 0.4s ease-in-out;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        background-color: rgba(46, 46, 46, 0.363);
        top: 0;
        width: 20%;
        margin: 10px;
        border-radius: 20px;
        padding: 0 30px;
        letter-spacing: 1.3px;
    }
    
    main {
        margin-left: 20%;
        background-color: #1f191921;
    }
    .laptop{
        display: flex;
        margin-left: 23%; 
        justify-content: space-between;
        position: fixed;
        top: 0;
        color: var(--font-color);
        background: transparent;
    }
    .laptop p{
        width: 75px;
        height: 20px;
        padding-top: 3px;
        font-size: 0.9rem;
        border-radius: 20px;
    }
    .laptop a {
        display: inline-block;
    }
    .laptop > p{
        background: linear-gradient(to right, #f7c8d8, #c8d9f7);
        color: black;
        width: 100px;
        text-align: center;
        padding-top: 0;
        margin-left: 800px;
    }
    .sidebar h2, .sidebar h3, .sidebar p{
        text-align: start;
    }
    .sidebar h2 {
        width: 100px;
        border-bottom: none;
        margin-bottom: 0;
        margin-top: 0;
        color: white;
    }
    .sidebar h3{
        margin-top: 80px;
        margin-bottom: 4px;
        color: grey;
        border-top: 1px solid gray;
        padding-top: 10px;
    }
    .sidebar p{
        margin-top: 0;
        color: white;
        font-size: 1rem;
        line-height: 20px;
    }
    .sidebar .icons {
        font-size: 20px;
        margin-top: 70px;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .sidebar p:last-of-type {
       background: linear-gradient(to right, #f7c8d8, #c8d9f7);
       color: black;
       text-align: center; 
       height: 30px;
       padding-top: 6px;
       border-radius: 10px;
    }
    .sidebar img{
        border-radius: 0 50px;
        transition: transform 0.4s ease-in-out;
        height: 300px;
        width: 300px;
    }
    .sidebar img:hover {
       transform: scale(1.2);
    }
    #home {
        display: none;
    }
    #laptop_cert div {
        margin-left: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "tlcm ml"
                             "python se"
                             "rd rd";
    }
    .tlcm {
        grid-area: tlcm;
    }
    .ml {
        grid-area: ml;
    }
    .python {
        grid-area: python;
    }
    .se {
        grid-area: se;
    }
    .rd {
        grid-area: rd;
        display: flex;
        justify-content: center;
        margin-left: -170px;
    }

    /*dark mode*/
    body {

    }
    .mode-switch input {
        display: none;
    }
    .mode-switch i {
        cursor: pointer;
        display: inline-block;
        margin-top: 15px;
        margin-left: 90px;
    }
    .mode-switch input:checked ~ .nav {
       background-color: #ffffff;
       color: #000000;
    }
    h1, h2 {
        border-bottom: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: transform 0.4s ease-in-out;
    }
    h2:hover {
        transform: scale(1.2);
    }
    h1:hover {
        transform: scale(1.2);
    }
    footer {
        margin-left: 23%;
    }
}